<select [(ngModel)]="propertyName">
    <option value="courseName">Name</option>
    <option value="type">Type</option>
    <option value="medium">Medium</option>
    <option value="trainer">Trainer</option>
    
</select>

Enter choice<input type="text" [(ngModel)]="choice">
<ol>
    <li *ngFor="let course of courses|filter:propertyName:choice" [style.list-style-type]="'none'">
        <h3 *ngIf="course.type=='Backend'" [style.color]="'red'">
            {{course.courseName|uppercase}} <br>
            {{course.type|lowercase}} <br>
            {{course.medium|titlecase}}<br>
            {{course.cost|currency:'Rs '}}<br>
            {{course.trainer}}
        </h3>
    </li>
</ol>